---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import Section from "@components/Section.astro";
import TextImageSection from "@components/TextImageSection.astro"

import kickoff from "@images/cgg/edith-cowan-statue/PXL_20260225_061444023.PORTRAIT.jpg"
import edithCowan from "@images/cgg/edith-cowan-statue/edithCowan.jpg"
import preUnveiling from "@images/cgg/edith-cowan-statue/PXL_20260225_052930097.jpg"
---

<Base title="Unveiling of the Edith Cowan Statue" description="Discussion about the statue of Australia's first female politician">
    <Kickoff contentAlign="center" backgroundImage={kickoff} backgroundAlt="A photo of a statue of a lady" mobileBackgroundOffset={-1000}>
        <h1>Unveiling of the Edith Cowan Statue</h1>
        <p>
            After many months of delay in transit, the City of Greater Geraldton has finally unveiled a statue of the first Australian woman to serve as a member of parliament, Edith Dircksey Cowan, and whom was born at Glengarry Station near Geraldton.
        </p>
    </Kickoff>
    <Section contentAlign="left">
        <p><u>
            Published: <b>March 3rd, 2026</b>
        </u></p>
        <p>
            On February 25th, 2026, the City of Greater Geraldton launched the unveiling of the statue of Australia's first female politician, Edith Dircksey Cowan. It came after many months of delays in transportation, but nevertheless, Edith Cowan has now been further memorialised in her home.<br/>
            <br/>
            If you are unsure who Edith Cowan is, let me tell you a brief story about her...
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of a woman" imageSide="left" imageSrc={edithCowan}>
        <p>
            Edith Dircksey Cowan (born Edith Dircksey Brown) was born on the 2nd of August, 1861, at Glengarry Station near Geraldton. She moved to Perth at the age of 7 after her mother, Mary Wittenoom, died during childbirth, and she became an orphan after her father, Kenneth Brown, was hanged for the murder of her stepmother.<br/>
            <br/>
            Over her lifetime, Cowan advocated for many things. One of her first forms of activism was during the women's suffrage movement, where Cowan became one of the founders of the Karrakatta Club, and was successful in granting women the right to vote in 1899 with the passage of the "Constitution Act Amendment Act 1899".<br/>
            <br/>
            Cowan later turned to welfare issues, particularly in concern to women's health and the welfare of disadvantaged groups. Her advocacy led to the construction of the King Edward Memorial Hospital for Women in 1916, where she became a member of its advisory board upon its opening.<br/>
            <br/>
            She also advocated for the welfare of children. Cowan believed that children should not be tried as adults, and so helped found the Children's Protection Society in 1906, which led to the 1907 establishment of the Children's Court of Western Australia. Cowan later became a justice of the Children's Court in 1915. She was later named a Justice of the Peace in 1920.<br/>
            <br/>
            Cowan's biggest achievement came in 1921. Western Australia had passed the "Parliament (Qualification of Women) Act 1920", which allowed women in WA to contest for parliament. At the 1921 state election, only four women contested for parliament; those being <b>Elizabeth Clapham</b> (Labor, West Perth), <b>Ada Bromham</b> (Independent, Claremont), <b>Nellie Martel</b> (Independent, North Perth), and of course, <b>Edith Cowan</b> (Nationalist, West Perth). Out of those four, only Edith was elected to State Parliament, and ironically defeated Attorney-General Thomas Draper, who was the one to introduce the legislation that permitted her to stand.<br/>
            <br/>
            She only lasted one term, being defeated in the 1924 election, and was unsuccessful in the 1927 election, but during her three-year term, Edith Cowan pushed through legislation that paved the way for women's rights, those of which are to allow women to be involved in the legal profession and to place mothers in an equal position in the event their children pass away without a will. She was also one of the first to promote sex education in schools.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            Even after her defeat, Edith Cowan was still involved in the community. In 1920 (yes i know this is before her parliamentary term, I forgot this), she was appointed an Officer of the Order of the British Empire (OBE) when she became chairperson of the Red Cross Appeal Committee, collecting food and clothing for soldiers at the front of World War I and coordinating efforts to care for returning soldiers.<br/>
            <br/>
            She was also an Australian delegate to the 1925 International Conference of Women, which was held in the United States. She also helped found the Royal Western Australian Historical Society in 1926 and also assisted in planning WA's 1929 Centenary celebrations.<br/>
            <br/>
            However, on the 9th of June, 1932, after a battle with pancreatic cancer, Edith Cowan passed away at the age of 70.<br/>
            (Source: <a href="https://en.wikipedia.org/wiki/Edith_Cowan">Wikipedia</a>)
        </p>
    </Section>
    <Section contentAlign="left">
        <p>
            This lady was magnificent. She paved the way for major reforms across not just WA, but Australia as a whole, and probably the world too. For a simple girl that was orphaned at 14, Edith became a history maker; and it doesn't matter whether or not she only lasted one whole term, the fact that she got to be there to begin with was magnificent.<br/>
            <br/>
            It doesn't matter which side of politics you sit, but Edith Cowan paved the way for all female politicians in Australia. Australia's first female head of government was the ACT's 1st Chief Minister, Rosemary Follett, who was elected to lead a minority government after the 1989 inaugural general election. WA's first female Premier was Carmen Lawrence, who was elected in the 1990 WA Labor leadership spill after the resignation of incumbent Premier Peter Dowding. The first Governor-General of Australia was Quentin Bryce, who was appointed in September 2008 on advice from then-PM Kevin Rudd in April. She was also the Governor-General at the time to swear in Australia's first female Prime Minister, Julia Gillard, who became PM after the 2010 Labor leadership spill and led a minority government after the 2010 federal election.
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of a statue covered by a blue tarpaulin surrounded by people at an unveiling ceremony." imageSide="right" imageSrc={preUnveiling}>
        <p>
            Returning to the topic of the unveiling of the statue, the Edith Cowan statue faced several delays to get to where we are today.<br/>
            <br/>
            President of the Geraldton Voluntary Tour Guides Association, Julie Clark, was the one that commissioned the statue to be placed in Edith Cowan Square, opposite the Geraldton Courthouse, in 2023. The statue was sculpted by famous statue makers Joan Walsh-Smith OAM and Charles Smith OAM. It was then unanimously voted on by the City of Greater Geraldton council at their Ordinary Meeting of Council on October 28th, 2025, to transfer ownership of the statue to CGG upon its installation.<br/>
            <br/>
            The statue was anticipated to arrive and be installed by November 2025, however transportation issues delayed this until February 2026, where the statue was then unveiled on February 25th.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            The statue was officially unveiled by the Mayor of the City of Greater Geraldton, Jerry Clune, President of the Geraldton Voluntary Tour Guides Association, Julie Clark, and former Deputy Premier of Western Australia (1993-2001) and grandnephew to Edith Cowan, the Hon. Hendy Cowan AO. In attendance at this unveiling were CGG Deputy Mayor, Natasha Colliver, CGG Councillors Peter Fiorenza and Tim Milnes, and the Hon. Melissa Price MP. Kirrilee Warr MLA was absent as it was a parliamentary sitting week.
        </p>
    </Section>
    <Section contentAlign="left">
        <p>
            I was fortunate enough to attend the unveiling ceremony myself, and was able to film the occassion in its entirety. If you would like to watch it, watch it below.
        </p>
        <div class="video-container">
            <iframe
                src="https://www.youtube.com/embed/wb73c396jEw"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                loading="lazy"
            />
        </div>
    </Section>
</Base>

<style>
    .video-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        text-decoration: underline;
    }
</style>