---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import Section from "@components/Section.astro";
import TextImageSection from "@components/TextImageSection.astro"
import Button from "@components/Button.astro";


import passStEmus from "@images/cgg/2026-02/passStEmus.jpg"
import mk2RemovedNotice01 from "@images/cgg/2026-02/mk2RemovedNotice01.png"
import radialDistance from "@images/cgg/2026-02/radialDistance.png"
---

<Base title="Emus of Pass St Roundabout" description="My take on the removal of the emus from the Pass St roundabout">
    <Kickoff contentAlign="center" backgroundImage={passStEmus} backgroundAlt="A photo of a roundabout with metallic statues of emus on top">
        <h1>Emus of Pass St Roundabout</h1>
        <p>
            The City of Greater Geraldton advised that roadworks would take place at the Pass St roundabout after the intersection was identified under the Black Spot Program. During these works, the metallic emu statues were removed from the roundabout at the displeasure of many residents.
        </p>
    </Kickoff>
    <Section contentAlign="left">
        <p>
            On November 19th, 2025, the City of Greater Geraldton advised that roadworks will be taking place at the roundabout that intersects Pass Street, Eastward Road, and Rifle Range Road at the border of Rangeway and Wonthella. This was done after the intersection was identified under the <a target="_blank" href="https://www.mainroads.wa.gov.au/road-safety/road-safety-improvement-programs/black-spot-program/">Main Roads WA Black Spot Program</a>, which is designed to "target roads with a proven crash history, or locations identified as high-risk". Development of the intersection was jointly funded through the Black Spot Program and the CGG 2025/26 Road Renewal Program.<br/>
            <br/>
            <Button target="_blank" href="https://www.cgg.wa.gov.au/publicnotices/rangeway-wonthella-road-works/1532">View the official notice here</Button><br/>
            <br/>
            The expansion of the roundabout involved adding one extra metre of radius to the roundabout, designed to slow traffic down at the intersection. Construction was completed mid-January 2026.<br/>
            <br/>
            On January 27th, 2026, <a target="_blank" href="https://www.facebook.com/share/p/17rNnYPtuf/">I had advised the community through Geraldton Noticeboard</a> that road resurfacing was taking place at the intersection. Dates of the road resurfacing were not advertised through the City of Greater Geraldton's channels of communication, meaning that I could only advise the community that it was happening.
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of Facebook that shows that a post was removed." imageSide="right" imageSrc={mk2RemovedNotice01}>
        <p>
            Many commenters on these pages were asking whether or not the emus at the roundabout were going to be returned. These comments were predominantly on my notice initially provided to Geraldton Noticeboard MK2, which has since been removed my administrators.<br/>
            <br/>
            As such, I had contacted the City of Greater Geraldton with the following body of the email that reads:<br/>
            <br/>
            <b>Emus on Pass St Roundabout</b><br/>
            "On my posts on the Geraldton Noticeboard groups on Facebook, where I've kept residents updated about the night-works, I've had a few comments in regards to the Emu statues that were originally located in the roundabout.<br/>
            <br/>
            What is the city planning on doing with those Emu statues?? Will Council be replacing them (either restoring those one or installing new ones) or will they be permanently removed. If they are permanently removed from the roundabout, what will happen to the Emus?? Will they be recycled either locally in Geraldton or sent off to Perth, or will they be sent to landfill??"<br/>
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            The CGG's Manager of Libraries, Heritage and Gallery, Trudi Cornish, replied to this email two days later, which I am not authorised to display on this website. Trudi advised me that the Emus at the roundabout are currently being stored at the City's depot "whilst we find a new home for them". It was interesting to find in this email that the emus were being relocated off the roundabout, with Trudi offering to send me an update when relocation plans for the emus have been made.<br/>
            <br/>
            This made me believe that the Emus have since reached an end-of-life state, but I wasn't entirely sure yet. In my follow-up email, I asked whether or not the City would be able to consider implementing a new art installation into this roundabout, citing the comments on Geraldton Noticeboard. Trudi replied later that day, stating that the Emus have not yet reached their end of life, and that "the new home sought for them will likely be in a local park, with thoughts of a location close to their original installation".
        </p>
    </Section>
    <TextImageSection imageAlt="A photo of Google Maps with distance lines" imageSide="left" imageSrc={radialDistance}>
        <p>
            The closest park, in terms of an approximate straight-line distance from the centre of the roundabout, designated by the City of Greater Geraldton is Challener Street Park (approximately 230m). However, Challener Street Park is secluded, whereas you can only enter the area it's in through either Carter, Crabbe, Dhu, or Wandoo Street.<br/>
            <br/>
            Tuart Park comes next at approximately 610m, however it is yet again secluded, where you can only easily enter through Tuart St off of Blencowe Road (the other end of Tuart St makes you take five turns off of Rifle Range Road (south).<br/>
            <br/>
            The only really logistic place to locate the emus is the third closest park, being the GRAMS Reserve, which is directly adjacent to two main roads (those being Utakarra Road and the southern part of Rifle Range Road) and the park that I named on my original notices.<br/>
            <br/>
            This is where I advised the community on February 3rd, 2026, through another now-removed notice on Geraldton Noticeboard MK2 about the removal of the emus. As such, comments referenced on this page are those that are currently on <a target="_blank" href="https://www.facebook.com/share/p/17FeUowPX2/">my notice on Geraldton Noticeboard</a>. I also had one post originally shared to a third group, Geraldton Community Noticeboard, but I have since removed it as I attempted to make one edit that required reapproval, hence delisting the post in the process.
        </p>
    </TextImageSection>
    <Section contentAlign="left">
        <p>
            Amongst all the community feedback being received through the comments of the post were several other emails created and shared by residents who have also expressed concern about the removal of the emus. Some posted about installing them elsewhere, such as in front of Department of Transport, Bundiyarra, and the soon-to-be-opened Geraldton Aboriginal Short-Stay Accommodation site, whilst others considered having them donated to schools such as Rangeway Primary School. However, with these emus, there is one definitive conclusion to the removal of the emus that must be acknowledged:
        </p>
    </Section>
    <Section contentAlign="center">
        <h3>
            <b>The emus cannot be returned to the roundabout due to safety concerns over frangibility.</b>
        </h3>
    </Section>
    <Section contentAlign="left">
        <p>
            Frangibility, if you are unaware of the definition, refers to the capability of being easily broken. In one such comment where an email was provided, the City identified the emu sculptures as "not being quite frangible enough to meet specifications for installation so close to the road. In short they're tougher than they look".<br/>
            <br/>
            In theory, if a car hits the edge of one of the emus, the emus will more than likely penetrate the car, potentially impaling the driver and/or passengers. It could also mean that the faces of the emus are similarly tough like a brick wall, having the capability of crumbling the bonnet of a car inwards. Whilst the cited six crashes at the intersection that are behind its identification as a Black Spot fortunately did not crash into the emus itself, there is still that possibility that it can. After all, there's nothing stopping anybody from landing on top of the roundabout whatsoever.
        </p>
    </Section>
</Base>

<style>
    .video-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        text-decoration: underline;
    }
</style>