@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap'); /* Inter Tight Font */

:root {
    --small-screen-width: 600px;
    --border-radius: 0.4rem;
    
    --nav-link-color: rgba(0, 0, 0, 65%);
    --nav-link-weight: 400;
    --nav-link-color-active: rgba(0, 0, 0, 100%);
    
    --body-font-family: 'Inter';
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    
    --section-background-color: #F3F2F2;
    --section-text-color: #212529;
    
    --button-background-color: #714B67;
    --button-background-color-hover: #604058;
    --button-border-color: #714B67;
    --button-border-radius: 0.4rem;
    --button-text-color: #FFFFFF;
    --button-padding: 0.375rem 0.8rem;

    --transition: 0.2s;
    --transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font-family), sans-serif;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--section-text-color);
}
h1 {
    font-size: 5rem;
    font-weight: 300;
    font-family: "Inter Tight", sans-serif;
}
h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Inter Tight", sans-serif;
}
p, ul {
    margin-top: 0;
}
a {
    color: var(--section-text-color);
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Ensure the last section element on every page has bottom padding */
:root main section:last-of-type {
    padding-bottom: 60px;
}

@media only screen and (max-width: 300px) {
    h1, h2, h3, h4, h5, h6, p {
        word-wrap: break-word;
    }
    section {
        padding-bottom: 0;
    }
}