---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import Error404 from "@images/404.png"
---

<Base title="Page Not Found" description="Page Not Found">
    <Kickoff contentAlign="center" backgroundImage={Error404} backgroundAlt="A photo of a coastline">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>
            This page does not exist<br />
            Maybe try find one that does instead
        </p>
    </Kickoff>
</Base>