---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import TextImageSection from "@components/TextImageSection.astro";
import Button from "@components/Button.astro"

import geroPhoto from "@images/geraldton_feature.jpg"
import passStEmus from "@images/cgg/2026-02/passStEmus.jpg"
import alexStRoundabout from "@images/cgg/2026-02/alexanderStRoundabout.jpg"
---

<Base title="City of Greater Geraldton" description="The homepage for my CGG updates">
    <Kickoff contentAlign="center" backgroundImage={geroPhoto} backgroundAlt="A hand drawn building.">
        <h1>City of Greater Geraldton</h1>
        <p>This page is where I will provide community updates in regards to the City of Greater Geraldton</p>
    </Kickoff>
    <TextImageSection
        imageSide="right"
        imageSrc={passStEmus}
        imageAlt="A photo of metalic emus on a roundabout"
    >
        <h2>Unveiling of the Edith Cowan Statue</h2>
        <p>
            After many months of delays in transit, the statue of Edith Dirksey Cowan, the first woman in Australia to serve as a member of parliament, has been erected in her square opposite the courtyard.
        </p>
        <Button href="cgg/edith-cowan-statue">View Here</Button>
    </TextImageSection>
    <TextImageSection
        imageSide="left"
        imageSrc={passStEmus}
        imageAlt="A photo of metalic emus on a roundabout"
    >
        <h2>Emus of Pass St Roundabout</h2>
        <p>
            During the reconstruction of the Pass St roundabout next to Adams Store,<br/>
            the City of Greater Geraldton removed the metalic emus from the<br/>
            roundabout due to safety concerns, yet residents would like to see<br/>
            their return.
        </p>
        <Button href="cgg/pass-st-emus">View Here</Button>
    </TextImageSection>
    <TextImageSection
        imageSide="right"
        imageSrc={alexStRoundabout}
        imageAlt="A photo of metalic emus on a roundabout"
    >
        <h2>Alexander Street Roundabout</h2>
        <p>
            The City of Greater Geraldton has proposed to construct a roundabout<br/>
            in Utakarra that connects Flores Road, Horwood Road, and Alexander<br/>
            Street, replacing the two T intersections.
        </p>
        <h3>Page Coming Soon</h3>
    </TextImageSection>
</Base>
<style>
    h3 {
        text-decoration: underline;
    }
</style>