---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import TextImageSection from "@components/TextImageSection.astro";
import LinkButton from "@components/LinkButton.astro";

import kickoff_image from "@images/kickoff.jpg"
import airCS_image from "@images/AirCS.png"
import ta5a_image from "@images/TA5A_Home.png"
---

<Base title="Home" description="Welcome to my personal website!">
	<Kickoff contentAlign="left" backgroundImage={kickoff_image} backgroundAlt="A photo of a coastline">
		<h1>Hi!</h1>
		<h2>It's me: TGP!</h2>
		<p>
			Who am I? What do I do?<br/>
			Nobody knows, but apparently I have a website :D
		</p>
		<img src="/favicon.png" alt="TGP Logo" width="400"/>
	</Kickoff>
	<TextImageSection
		imageSide="right"
		imageSrc={ta5a_image}
		imageAlt="A hand drawn building."
	>
		<h2>The Awakening: 5th Anniversary</h2>
		<p>
			My upcoming Visual Novel game to celebrate the fifth anniversary of The Awakening (2020)
		</p>
		<LinkButton href="/projects/the-awakening-5th-anniversary">View Here</LinkButton>
	</TextImageSection>
	<TextImageSection
		imageSide="left"
		imageSrc={airCS_image}
		imageAlt="A picture of a train station made in Minecraft."
	>
		<h2>AirCS Race 2025</h2>
		<p>
			My POV Timelapse on the AirCS Race 2025 is available for viewing
		</p>
		<LinkButton href="https://youtu.be/PUR4POmtYmg" target="_blank">View Here</LinkButton>
	</TextImageSection>
</Base>