---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import Section from "@components/Section.astro";
import Badge from "@components/Badge.astro";

import kickoff_image from "@images/kickoff.jpg"
---

<Base title="Links" description="Contact TGP">
    <Kickoff contentAlign="center" backgroundImage={kickoff_image} backgroundAlt="A photo of a coastline">
        <h1>My Links</h1>
        <p>
            You can contact me using the links below or emailing me directly at:<br/>
            <a href="mailto:techgamesplus07@outlook.com">techgamesplus07@outlook.com</a><br/>
            <br/>
            For <b>CGG related concerns</b>, please email my alternative:<br/>
            <a href="mailto:ethandahlberg07@gmail.com">ethandahlberg07@gmail.com</a>
        </p>
    </Kickoff>
    <Section contentAlign="center">
        <h2>Socials</h2>
        <div class="badge-box">
            <Badge
                src="/88x31/bluesky.png"
                label="Bluesky"
                href="https://bsky.app/profile/techgamesplus.net/"
            />
            <Badge
                src="/88x31/twitterbutton.gif"
                label="Twitter (Fuck X) (inactive)"
                href="https://twitter.com/TechGamesPlus/"
            />
            <Badge
                src="/88x31/YouTube.png"
                label="YouTube"
                href="https://youtube.com/TechGamesPlus/"
            />
            <Badge
                src="/88x31/Twitch.png"
                label="Twitch"
                href="https://twitch.tv/techgamesplus/"
            />
        </div>
    </Section>
</Base>

<style>
    .badge-box {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
</style>