---
interface Props {
  src: string;
  label: string;
  href?: string;
}
const { src, label, href } = Astro.props;
---

<a href={href || null} target="_blank" title={label}>
  <img
    src=`${src}`
    aria-label=`${label || ""} badge`
    class="badge"
    width={88}
    height={31}
    alt="Error loading badge image"
  />
</a>

<style>
  a {
    text-decoration: none;
    width: 88px;
    height: 31px;
  }

  img {
    position: relative;
    display: block;
    width: 88px;
    height: 31px;
    transition:
      all var(--transition),
      transform var(--transition-bezier);
    margin: 5px;
    image-rendering: pixelated;
    background-color: gray;
    overflow: hidden;
  }
  img::before {
    padding: 9px;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: x-small;
  }
  img:hover {
    transform: scale(1.5);
    z-index: 1;
  }
</style>
