---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import NavCard from "@components/NavCard.astro";
import Button from "@components/Button.astro"

import kickoffPhoto from "@images/blogs/kickoff-2026.jpg"
import passStEmus from "@images/cgg/pass-st-emus/passStEmus.jpg"
import alexStRoundabout from "@images/cgg/alexanderStRoundabout.jpg"
import edithCowan from "@images/cgg/edith-cowan-statue/PXL_20260225_061444023.PORTRAIT.jpg"
---

<Base title="March 2026 Blogs" description="The homepage for my March 2026 updates">
    <Kickoff contentAlign="center" backgroundImage={kickoffPhoto} backgroundAlt="A hand drawn building.">
        <h1>March 2026</h1>
        <p>
            These are the updates I provided during March 2026
        </p>
    </Kickoff>
    <NavCard
        imageSide="right"
        imageSrc={edithCowan}
        imageAlt="A photo of a statue of a lady in front of a building that says COURTHOUSE"
    >
        <h2>Church Camp</h2>
        <h3>Friday 13th - Sunday 15th</h3>
        <p>
            The annual camp to Horrocks with the church, of which I attend Youth Group under. This page here is to both provide you with my story about the camp and to serve as a bit of a memento in a post-camp oration.
        </p>
        <Button href="cgg/edith-cowan-statue">View Here</Button>
    </NavCard>
</Base>
<style>
    h3 {
        text-decoration: underline;
    }
</style>