---
import Base from "@layouts/Base.astro";
import Kickoff from "@components/Kickoff.astro";
import NavCard from "@components/NavCard.astro";
import Button from "@components/Button.astro"

import kickoffPhoto from "@images/blogs/kickoff-2026.jpg"
import march2026 from "@images/blogs/kickoff-2026.jpg"
/* Yes, I know that's the exact same image, but these images are subject to change */
---

<Base title="My Blogs" description="The homepage for my blogs and other personal updates">
    <Kickoff contentAlign="center" backgroundImage={kickoffPhoto} backgroundAlt="A hand drawn building.">
        <h1><b>Blogs & Updates</b></h1>
        <p>This page is where I will share personal updates and developments in my life :)</p>
        <Button href="blogs/2026-03/19-days-to-furdu">Latest Blog: <b>March 2026: 19 Days until FurDU</b></Button>
    </Kickoff>
    <NavCard
        imageSide="right"
        imageSrc={march2026}
        imageAlt="A photo of a coastline."
    >
        <h2>March 2026</h2>
        <Button href="blogs/2026-03">View Here</Button>
    </NavCard>
</Base>
<style>
    h1 {
        font-weight: normal;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        text-decoration: underline;
    }
</style>